
.parrafo{
	font-size: 16px;
	padding: 15px;
	text-align:justify;
	margin-bottom: 5px;
	
}
.medio{
width: 100%;

background: #fa7455;

}
./*c{
	background: #fa7455;
}*/
.tit{
	color: #615c85;
}

.hov{

	padding-bottom: 15px;
}

.hov:hover {

 
 height: 42px;
 background: #CFD8DC;
  transition: all 2s ease;
 color: #000000;
}
.parrafo:hover{

background:#F5F5F5;
transition: all 2s ease;
}



.fijo{
width: 50%;
height: 50px;

}
.tamano-fijo{

	width: 100%;
	height: 270px;
}
.tamano-fijos{

	width: 100%;
	height: 270px;
}


@media(max-width:320px){

.escribenos{
font-size: 18px;
}
.re{

	width: 100%;
}
}

@media(max-width:1024px){

.tamano-fijos{

	width: 110%;
	height: 270px;
}
.re{

	width: 90%;
}
#content{
	width: 70%;
	
	background-color: #ffffff;
	
}

}

@media(max-width:768px){

#content{
	width: 70%;
	padding-left: 0%; padding-right: 0%
	background-color: #ffffff;
	float: left;
	margin-left: 5%;
	margin-right: 5%;
	
}

.re{

	width: 100%;
}

}
/*---------------------------------------------------*/
/*--responsive--*/
@media(max-width:1366px){
}
@media(max-width:1280px){
}
@media(max-width:1220px){
.box-in-at{
	width: 32%;
	float: left;
	margin-bottom: 10px;
}
.centrado{


}
.box-in-atre{

	width: 100%;
}

}

@media(max-width:1024px){
/*---*/
.tamano-fijo{

	width: 100%;
	height: 270px;
}
.re{

	width: 50%;
}
.box-in-at{
	width: 33%;
	float: left;
	margin-bottom: 10px;
}
.box-in-atre{

	width: 100%;
}
	#content{
	width: 70%;
	padding-left: 0%; padding-right: 0%
	background-color: #ffffff;
	float: left;
	margin-left: 15%;
	margin-right: 5%;
	
}
}
@media(max-width:768px){
.box-in-atre{

	width: 100%;
}
}

@media(max-width:736px){
		#content{
	width: 60%;
	padding-left: 0%; padding-right: 0%
	background-color: #ffffff;
	float: left;
	margin-left: 10%;
	margin-right: 5%;
	
}

}
@media(max-width:667px){
	#content{
	width: 60%;
	padding-left: 0%; padding-right: 0%
	background-color: #ffffff;
	float: left;
	margin-left: 5%;
	margin-right: 5%;
	
}
}
@media(max-width:640px){

/*----*/

}
@media(max-width:568px){

	#content{
	width: 60%;
	padding-left: 0%; padding-right: 0%
	background-color: #ffffff;
	float: left;
	margin-left: 5%;
	margin-right: 5%;
	
}
}
@media(max-width:480px){
	.box-in-at{
	width: 100%;
	float: left;
	margin-bottom: 10px;
}

.box-in-atre{

	width: 90%;
}
	#content{
	width: 40%;
	padding-left: 0%; padding-right: 0%
	background-color: #ffffff;
	float: left;
	margin-left: 2%;
	margin-right: 2%;
	
}
}
@media(max-width:414px){

}
@media(max-width:320px){

}